// sets box sizing
@mixin grid-box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing:    $value;
    -ms-box-sizing:     $value;
    box-sizing:         $value;
}

// makes an element pop out of the site for faster debugging
@mixin debug($color: rgba(255,0,0,0.5)) {
	background-color: $color !important;
	color: white !important;
}


// the clearfix for outer container
// eg: 
// parent { @include clearfix;
//    element { float: left; }
// }
//
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}