// creates a row containing grids columns
@mixin row() {
	@extend %row;
}

%row {
	@include clearfix;
	display: block;
	width: auto;

	@if ($debug-show-row == true) {
		background-color: rgba(150, 150, 150, 0.05);
	}
}