// creates element in any aspect ratio, default is 1:1 with class of child element as 'aspect__content'
//
// eg. @import aspect-ratio(50%); 	- creates 2:1 element
//     @import aspect-ratio(4 to 3) - creates 4:3 element
// 	   @import aspect-ratio(16 9)   - creates 16:9 element
//
// html construct
//     <div class='aspect'>
//       <div class="aspect__content" />
//     </div>


@mixin aspect-ratio($ratio: 100%, $child-class: aspect__content) {
	@if length($ratio) == 3 {
        $ratio: nth($ratio, 3) / nth($ratio, 1) * 100%;
    } @else if length($ratio) == 2 {
        $ratio: nth($ratio, 2) / nth($ratio, 1) * 100%;
    } @else {
    	@if unitless($ratio) {
    		$ratio: $ratio * 1%;
    	}
    }

	position: relative;
	&:before{
		content: " ";
		display: block;
		padding-top: $ratio;
	}
	.#{$child-class} {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}