@mixin opacity($value) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)"; /* for IE8 in IE7 mode */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$value); /* for IE6-IE8 */
    opacity: $value / 100;
}