
// no outline on active link-element
@mixin no-outline() {
	&:hover,
	&:active,
	&:focus {
		outline: 0;
	}
}


// http://www.hongkiat.com/blog/css-dotted-outline/
@mixin active-style($color: #ff0000) {
	&:active,
	&:focus {
		outline: 0;
		backgrond-color: $color;
	}	
}